.navbar { margin-bottom: 0px }

.navbar-default {
  background-color: #ED7F10;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
}
  
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

.navbar-right .dropdown { margin-right: 10px }

#login-buttons-password { 
  background-color: #ED7F10;
  border: none;
}

#login-buttons-logout { 
  background-color: #FE373A;
  border: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #DEE5E4;
    background-color: transparent;
}

.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #DEE5E4;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #E38800;
}

.jumbotron h1 { color: #505252 }

h3 {
    margin-bottom: 30px;
}

#spinner { height: 200px }

.ticket {
    padding: 5px;
    border-bottom: solid 1px lightgrey;
}

p.number {
    background: rgb(145,108,197);
    color: white;
    margin: 0px;
}

span.label {
  padding: 2px;
}

span.label .close {
    float: none;
    text-shadow: none;
    font-size: 13px;
}

a.count{
    text-decoration:none;
    color:orange;
}

.breadcrumb {
    margin-bottom: 0px;
    background-color: rgb(228,228,228);
}

.breadcrumb a:hover{
    text-decoration:none;
    color: orange;
}

.orange{
    color: rgb(237, 127, 16);
}

.wrapper {
  position: relative;
  z-index: 90;
  overflow:hidden;
}

.ribbon-wrapper {
  width: 200px;
  height: 62px;
  position: absolute;
  right: -40px;
  bottom: 10px;
  z-index:90;
}

.ribbon {  
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  letter-spacing:1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  
  color: #fff;
      overflow:hidden;
}

.ribbon-blue {
  background: rgb(49,118,183);
}

.ribbon-pink {
  background: rgb(218,61,173);
}

.ribbon-red {
  background: rgb(255,0,0);
}

.ribbon-orange {
  background: rgb(255,165,0);
}

.ribbon-green {
  background: rgb(0,128,0);
}