.navbar { margin-bottom: 0px }

.navbar-default {
  background-color: #ED7F10;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
}
  
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

.navbar-right .dropdown { margin-right: 10px }

#login-buttons-password { 
  background-color: #ED7F10;
  border: none;
}

#login-buttons-logout { 
  background-color: #FE373A;
  border: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #DEE5E4;
    background-color: transparent;
}

.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #DEE5E4;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #E38800;
}

.jumbotron h1 { color: #505252 }

h3 {
    margin-bottom: 30px;
}

#spinner { height: 200px }

.ticket {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px lightgrey;
}

span.label {
  padding: 3px;
}

span.label .close {
    float: none;
    text-shadow: none;
    font-size: 13px;
}