<template name="comment">
  <li>
    <div class="row no-margin comment-content">
      <div class="col-md-1 comment-author">
        <img src="http://placehold.it/120x120" class="img-circle" title="{{author}}">
      </div>
      <div class="col-md-9">
        <p class="comment-body">
          {{{nl2br body}}}
        </p>
        <span class="comment-date">
          - <cite>
            {{author}},
          </cite>
          {{#if isToday}}
            {{submittedTextToday}}
          {{else}}
            {{submittedText}}
          {{/if}}
        </span>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </li>
</template>
