<template name="referenceSubmit">
    <div class="form-group">
        <label for="refInput" class="col-sm-2 control-label">Oceane/Swan</label>
        <div class="col-sm-3">
          <div class="input-group">
            <input name="references" class="form-control" type="text" id="refInput" placeholder="ex : 14025336"/>
            <span class="input-group-btn">
              <button id="btnRef" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
          </div>
          {{> references}}
        </div>
    </div>
</template>