<template name="ticketEdit">
  <form class="main">
    {{> titleEdit}}
    {{> detailEdit}}
    <div class="form-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
    </div>
    <hr/>
    <!-- <div class="form-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#">Delete ticket</a>
        </div>
    </div> -->
  </form>
</template>

<template name="titleEdit">
    <div class="form-group">
        <label class="control-label" for="title">Titre</label>
        <div class="controls">
            <input name="title" class="form-control" type="text" value="{{title}}" placeholder="ex : Alarme robot"/>
        </div>
    </div>
</template>

<template name="detailEdit">
    <div class="form-group">
        <label class="control-label" for="detail">Détail</label>
        <div class="controls">
            <textarea name="detail" class="form-control" type="text" placeholder="ex : 3 échecs sur le robot de PMAS orange.fr">{{{detail}}}</textarea>
        </div>
    </div>
</template>