<template name="ticketItem">
    <div class="ticket">
        <div class="ticket-content">
            <div class="row">
                <div class="col-md-1 text-center">
                    <span>{{number}}</span>
                    {{#if references}}
                        {{#each references}}
                            <span class="label label-warning">{{this}}</span>
                        {{/each}}
                    {{/if}}
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <h5>{{title}}</h5>
                        <p>
                            submitted by {{author}},
                            {{#if ownTicket}}<a href="{{pathFor 'ticketEdit'}}">Edit</a>{{/if}}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <ol class="breadcrumb ">
                                <li>
                                    <span class="orange">
                                        <a href="#" id="participants" class="count" data-toggle="tooltip" data-placement="top" title="{{participantsList}}">
                                            {{participantsCount}}
                                        </a>
                                    </span>
                                    <span class="glyphicon glyphicon-user"></span>
                                </li>
                                <li>
                                    <a href="{{pathFor 'ticketPage'}}" class="count">{{commentsCount}}</a>
                                    <span class="glyphicon glyphicon-comment"></span>
                                </li>
                            </ol>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>